*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .icon{
    border-radius: 30px;
} */

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-nav{
    font-size: 1.4rem;
}

#text{
    transition: .3s ease-in-out;
    /* background-color: rgb(75, 178, 226); */
    color: rgb(26, 138, 190);
    font-weight: bold;
}

#text:hover{
    color: rgb(21, 113, 156);
}

.container h2{
    text-align: center;
}

.footer{
    text-align: center;
}
